<% if job.punches.any? %>  
  <table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Total</th>    
  </tr>
  
    <tr>
      <td> <%= punch_in_date(job.punches.last.created_at) %> </td>
      <td><%= punch_in_time(job.punches.last.created_at) %></td>
      <td><%= punch_out_time(job.punches.last.punch_out) %></td>
      <td> <%= job.punches.last.time_on_punch %> </td>
    </tr>
 
</table>
<% end %>  