<ul class="nav">
  <li>
    <%= link_to "Punch Clock!", root_path, :class => 'brand' %>
  </li>
  <%= link_to 'Add a Job', new_job_path, class: 'btn btn-primary' %>
</ul>
<h5 class="current_time">Current Time: <%= Time.now.strftime("%l:%M:%S%p %Z on %B %d, %Y") %> </h5>